@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden !important; }

/* navbar */
.imgLogo {
  width: 100%; }

.container-fluid {
  background-color: #000000; }

.encabezado .navbar .navbar-nav {
  padding-left: 60%; }
  .encabezado .navbar .navbar-nav li a.nav-link {
    color: #ffffff;
    font-size: 1.7rem; }
  .encabezado .navbar .navbar-nav li a:hover {
    color: #ff8800; }

/* Estilos para el botón flotante de WhatsApp */
.whatsapp-button {
  background-color: #25d366;
  /* Color original de WhatsApp */
  color: #fff;
  /* Color de la flecha en blanco */ }

.whatsapp-button:hover {
  background-color: #128C7E;
  /* Color de fondo en hover */ }

/* Estilos para el otro botón flotante */
.floating-button {
  background-color: orange;
  /* Color naranja para el otro botón */
  color: #fff;
  /* Color de la flecha en blanco */ }

.floating-button:hover {
  background-color: #ff6600;
  /* Cambio de color de fondo en hover */ }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #000000; }
  .main .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    /* Ajusta según sea necesario */
    margin-top: 70px; }
  .main .gifOne73 {
    max-width: 500px;
    margin-bottom: 30px; }
  .main .banner {
    text-align: center; }
    .main .banner .container h1 {
      font-size: 3rem;
      margin-bottom: 10px;
      color: #ff8800; }
    .main .banner .container p {
      font-size: 1.5rem;
      margin-top: 40px;
      margin-bottom: 20px;
      color: #ffffff; }

.amazonContainer {
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #000000, #ed9f0dda, #000000);
  padding-bottom: 100px; }

.amazonContainer img.amazon {
  width: 600px;
  height: 600px;
  clip-path: inset(0px 0px 0px 0px round 10px); }

.amazonContainer .btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  padding: 10px;
  font-size: 25px;
  border-color: #ff8800;
  background-color: black;
  z-index: 1; }
  .amazonContainer .btn:hover {
    background-color: #ff8800; }

.servicesTitle {
  margin-bottom: 60px;
  color: #ff8800;
  font-size: 3rem; }

.services {
  background-color: #000000;
  padding: 80px 0;
  text-align: center;
  height: 50%; }
  .services .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 740px;
    margin: 0 auto; }
  .services .service {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px; }
    .services .service .number {
      width: 60px;
      height: 60px;
      background-color: #ff8800;
      color: #ffffff;
      font-size: 24px;
      font-weight: bold;
      line-height: 60px;
      border-radius: 50%;
      margin-right: 20px; }
    .services .service .info {
      flex: 1;
      text-align: left; }
      .services .service .info h3 {
        color: #ffffff;
        font-size: 1.7rem;
        margin-bottom: 10px; }
      .services .service .info p {
        color: #ffffff;
        font-size: 16px;
        line-height: 1.6; }

.aboutContainer {
  display: flex;
  margin-top: 200px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 2px solid orange;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 300px;
  margin-bottom: 300px; }
  .aboutContainer .aboutUs {
    width: 50%;
    height: 400px;
    background-color: #000000;
    font-size: 1.5rem;
    margin-top: 80px; }
  .aboutContainer .titleAbout {
    color: orange;
    font-size: 3rem;
    margin-bottom: 30px; }
  .aboutContainer .textAbout {
    color: #ffffff; }

.formContainer {
  margin-top: 40px;
  margin-bottom: 300px;
  width: 50%; }
  .formContainer .contactTitle {
    font-size: 3rem;
    color: #ff8800;
    margin-bottom: 70px;
    text-align: center; }

.form {
  color: orange;
  border-color: orange;
  border: 4px; }
  .form .name {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .form .form-label {
    margin-top: 20px;
    margin-bottom: 10px; }
  .form .mb-3 {
    margin-top: 20px; }
  .form .text {
    height: 200px; }
  .form .form-check {
    color: #ff8800; }
  .form > div:last-child {
    display: flex;
    justify-content: center; }
  .form .btn {
    width: 50%;
    margin-top: 50px;
    color: #ffffff;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.15);
    border-color: #ff8800; }
    .form .btn:hover {
      background-color: #ff8800;
      color: #ffffff; }

input.form-control,
textarea.form-control {
  border: 2px solid orange; }
  input.form-control:focus,
  textarea.form-control:focus {
    border-color: orange;
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.5); }

.imgAccordion {
  width: 100%;
  height: auto; }

.questionsTitle {
  color: #ff8800;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px; }

.accordion {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 200px; }

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.3rem;
  color: #ff8800;
  text-align: left;
  background-color: #000000;
  border: 0;
  border-radius: 0;
  overflow-anchor: none; }

.accordion-item {
  color: #ff8800;
  background-color: #cb141430;
  border-color: #ff8800; }

/* Estilos generales del footer */
footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.footer-logo img {
  max-width: 250px;
  margin-left: 80px;
  margin-right: 167px; }

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex: 1; }

.secciones ul {
  list-style: none;
  padding: 0; }

.secciones h4 {
  font-size: 2rem;
  color: orange; }

.secciones li {
  margin-bottom: 5px; }

.secciones a:hover {
  color: #cc7700; }

.secciones a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center; }

.secciones a i {
  margin-right: 5px; }
