@import "./variables/colores";
@import "./variables/fuentes";



//  .imgAbout {
//     position: absolute;
//      top: 0;
//      left: 50%;
//      transform: translateX(-50%);
//      width: 100%;
//      height: auto;
//     z-index: 1;
// }

// .aboutContainer {

//     display: flex;
//     margin-top: 200px;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-around;
//     // border: 2px solid orange; // Borde de 2px de ancho, color naranja
//     padding: 20px; // Espacio interno para separar el contenido del borde
//     width: 80%; // Ancho del contenedor
//     margin: 0 auto; // Centrar el contenedor horizontalmente
//     margin-top: 300px;
//     margin-bottom: 300px;


//     .aboutUs {

//         width: 50%;
//         height: 400px;
//         background-color: $black;
//         font-size: 1.5rem;
//         margin-top: 80px;
//     }




//     .titleAbout {
//         color: orange;
//         font-size: 3rem;
//         margin-bottom: 30px;
//     }

//     .textAbout {
//         color: $white;
//     }
// }


.aboutContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    background-image: url(file:///C:/Users/Ailen/OneDrive/Documentos/ONE73%20WEB/img/orange%20circle.jpg);
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column; 
    text-align: center;
}



.aboutUs {
    position: relative;
    width: 40%;
    padding: 20px;
    z-index: 2;
    text-align: justify;
}
    


.titleAbout {
    color: $orange;
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
}

.textAbout {
    color: $white;
    font-size: 1.5rem;
}

