@import "./variables/colores";
@import "./variables/fuentes";

.aboutContainer {
  
    display: flex;
    margin-top: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .titleAbout {
        font-size: 3rem;
        color: $orange;
    }

    .aboutUs {
        color: $white;
        width: 50%;
        height: 300px;
        background-color: $black;
        font-size: 2.5rem;
    }
}