@import "./variables/colores";
@import "./variables/fuentes";


// .containerAccordion{

//     position: relative;
//     width: 100%;
//     min-height: 100vh;
//     background-image: url('./img/fondo circulos naranjas.jpg');
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     padding: 50px;
//     box-sizing: border-box;
//     z-index: 1;


// }


.imgAccordion {
    width: 100%;
    height: auto;
  
}

.questionsTitle {
    color: $orange;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
}

 .accordion {
     width: 100%;
     margin-top: 150px;
    margin-bottom: 200px;


 }

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
    color: $orange;
    text-align: left;
    background-color: $black;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;

}

.accordion-item {
    color: $orange;
    background-color: #cb141430;
    border-color: $orange;
}