@import "./variables/colores";
@import "./variables/fuentes";



/* navbar */

.imgLogo {
    width: 100%;
}


.container-fluid {
    background-color: $black;



}

.encabezado {

    .navbar {
        .navbar-nav {
            padding-left: 60%;


            li {
                a.nav-link {
                    color: $white;
                    font-size: 1.7rem;
                }

                a:hover {
                    color: $orange;
                }

            }

        }
    }
}